<div id="sign_up">
	<%= form_for @user do |f|%>
	
	<%= f.label :nic_number %>
	<%= f.text_field :nic_number %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit %>
	<% end %>

</div>
